bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
    max-width: 950px;
    margin: 0 auto;
  }

  .pricing-header {
    max-width: 700px;
  }

  #karan {
    height: 100px;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
  }

  #border {
    border-bottom: solid 4px rgba(0, 255, 0, 0.75);
    position: absolute;
    right: -7px;
    width: 27px;
  }

  #karan {
    animation: animated-text 1.8s steps(30, end) 1s 1 normal both;
  }

  #border {
    animation: animated-cursor 1.12s steps(30, end) infinite;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }

    to {
      width: 104%;
    }
  }

  @keyframes animated-cursor {
    from {
      border-bottom-color: rgba(0, 255, 0, 0.75);
    }

    to {
      border-bottom-color: transparent;
    }
  }